.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #030058;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.background {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: rgb(22, 10, 10);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}